@media(max-width:991px){

.top-header .container{

flex-direction:column;

}

nav ul{

flex-direction:column;

text-align:center;

margin:20px 0;

}

.footer-grid{

grid-template-columns:1fr 1fr;

}

}

@media(max-width:768px){

.footer-grid{

grid-template-columns:1fr;

}

.logo img{

height:60px;

}

}